@use 'abstracts' as *;

.container {
    min-width: 320px;
    display: flex;
    background-color: bisque;
    width: 100%;


    @media  (max-width: 885px) {
        flex-direction: column;
        width: 100%;
    }
    
    @media  (min-width: 884px) {
        flex-direction: row;
    }

}

.container > article {
    padding: 1.875rem 0.9375rem;
    display: flex;

    flex-direction: column;
    gap: 1.875rem;    
    width: 50%;
    
    @media  (max-width: 884px) {
        width: 100%;
    }
}

.container > article {    
    @media  (min-width: 885px) {
        h2 {
            margin-left: 80px;
        }
        
        p {
            margin-left: 80px;
            width: 60%;            
        }
    }
}

.aboutImg__container {    
    width: 50%;
    height: 300px;
    max-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media  (max-width: 885px) {
        width: 100%;
    }
}

.aboutImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}