@use 'abstracts' as *;

.container {
    width: 100%;
    min-height: 0.625rem;
    height: 0.625rem;
    background-color: $color-a;
    position: fixed;
    top: 0;
    left: 0;
}

.progress {
    width: 30%;    
    height: 100%;
    background-color: $color-c;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}